body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

section {
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #051937;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #03326f;
}

.CopyCode {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
    font-family: monospace;
}
